<?xml version="1.0" encoding="utf-8"?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.microsoft.com/2011/01/fabric">
  <Section Name="PersonActorServiceReplicatorConfig">
    <Parameter Name="ReplicatorEndpoint" Value="PersonActorServiceReplicatorEndpoint" />
    <Parameter Name="BatchAcknowledgementInterval" Value="0.005" />
  </Section>
  <Section Name="PersonActorServiceReplicatorSecurityConfig">
    <Parameter Name="CredentialType" Value="None" />
  </Section>
  <Section Name="CosmosDb">
    <Parameter Name="DatabaseName" Value="labs" />
    <Parameter Name="Collection" Value="peopleandplanets3" />
    <Parameter Name="EndpointUri" Value="" />
    <Parameter Name="PrimaryKey" Value="" />
  </Section>
  <Section Name="ApplicationInsights">
    <Parameter Name="Key" Value="00000000-0000-0000-0000-000000000000" />
  </Section>
  <!-- The content will be generated during build -->
</Settings>